/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/

.kontakty {
	display: flex;
	flex-wrap: wrap;
	
	

}

h1 {
	text-align: center;
}




img {
	border-radius: 50%;
	margin: 20px 40px;
}


@media (max-width: 540px) {
	.kontakty {
		display: flex;
		/*flex-direction: column;*/
	  }
	
	  .zena {
		display: flex;
		flex-wrap: wrap;
		
		text-align: center;
		border: 2px solid rgb(115, 154, 175);
		border-radius: 10px;
		margin: 10px;
		padding: 10px 120px;
	}


	.obrazek {
		/*align-items: center;*/
	}

	.text {
		padding: 10px 10px;	

	}
	
  }

  @media (min-width: 540px) {
	.kontakty {
	  display: flex;
	  flex-direction: row;
	}
	.zena {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		border: 2px solid rgb(115, 154, 175);
		border-radius: 10px;
		margin: 2px;
		max-width: 960px;
	}
}

  @media (min-width: 940px) {
	.kontakty {
     display: flex;
	 flex-direction: row;
	 padding: 20px 0px;
	 align-items: center;
	}

	.zena {
		display: flex;
		border: 2px solid rgb(115, 154, 175);
		border-radius: 10px;
		margin: 5px;
	}
  }